In [15]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

In [8]:
import pandas as pd
df = pd.read_csv('gpio.csv')
df

    in_1  in_2  out_1  out_2
0      0     0      0      0
1      1     0      1      0
2      0     1      0      1
3      1     0      1      0
4      0     0      0      0
5      0     1      0      1
6      0     0      0      0
7      0     1      0      1
8      0     0      0      0
9      0     1      0      1
10     0     0      0      0
11     0     1      0      1
12     0     0      0      0
13     1     0      1      0
14     0     0      0      0
15     0     1      0      1
16     0     0      0      0
17     1     1      1      1
18     1     0      1      0
19     1     1      1      1
20     0     0      0      0
21     1     0      1      0
22     0     0      0      0
23     0     1      0      1
24     1     0      1      0
25     0     1      0      1
26     1     1      1      1
27     0     1      0      1
28     0     0      0      0

In [40]:
classes = np.unique(df[['out_1', 'out_2']], axis=0)
classes

array([[0, 0],
       [0, 1],
       [1, 0],
       [1, 1]], dtype=int64)

In [12]:
def labeling(row):
    return np.where( np.all(classes==[row.out_1, row.out_2], axis=1))[0][0]
    

df['class'] = df.apply(labeling, axis=1)

In [13]:
df

    in_1  in_2  out_1  out_2  class
0      0     0      0      0      0
1      1     0      1      0      2
2      0     1      0      1      1
3      1     0      1      0      2
4      0     0      0      0      0
5      0     1      0      1      1
6      0     0      0      0      0
7      0     1      0      1      1
8      0     0      0      0      0
9      0     1      0      1      1
10     0     0      0      0      0
11     0     1      0      1      1
12     0     0      0      0      0
13     1     0      1      0      2
14     0     0      0      0      0
15     0     1      0      1      1
16     0     0      0      0      0
17     1     1      1      1      3
18     1     0      1      0      2
19     1     1      1      1      3
20     0     0      0      0      0
21     1     0      1      0      2
22     0     0      0      0      0
23     0     1      0      1      1
24     1     0      1      0      2
25     0     1      0      1      1
26     1     1      1      1      3
27     0     1      0      1      1
28     0     0      0      0      0

In [16]:
x = np.array(df[['in_1', 'in_2']])
y = np.array(df[['class']]).ravel()
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=1, p=2,
           weights='uniform')

In [17]:
out = knn.predict(x)
out

array([0, 2, 1, 2, 0, 1, 0, 1, 0, 1, 0, 1, 0, 2, 0, 1, 0, 3, 2, 3, 0, 2,
       0, 1, 2, 1, 3, 1, 0], dtype=int64)

In [27]:
np.sum(out==np.array(df[['class']]).ravel()) / out.size

1.0

In [43]:
out = knn.predict([[0,0]])
print(out[0])
out1, out2 = classes[out[0]]
print(out1, out2)

0
0 0

In [44]:
out = knn.predict([[0,1]])
print(out[0])
out1, out2 = classes[out[0]]
print(out1, out2)

1
0 1

In [45]:
out = knn.predict([[1,0]])
print(out[0])
out1, out2 = classes[out[0]]
print(out1, out2)

2
1 0

In [46]:
out = knn.predict([[1,1]])
print(out[0])
out1, out2 = classes[out[0]]
print(out1, out2)

3
1 1